if appropriate
for demonstrating competence, files must also include official documentation of professional or work
experience, technical and performance competency, records of publications, certifications and other
qualifications. when provost approval is required for appointment of an instructor of record, the justification
provided by the dean and record of approval from the provost must also be maintained in the files of the
school. all instructors of record are required to ensure that their school dean receives copies of their academic
transcripts directly from institutions issuing credentials and has access to a current c.v.