or resume. faculty records
should be retained for ten years after resignation, separation or termination. acd-7201.4 – applicable legal and accreditation requirements
sacscoc principles of accreditation 6.2.a (faculty qualifications)
related policies:
policy background:
policy initially reviewed by deans and approved by interim provost january 11, 2017
first revision reviewed by deans and approved by interim provost may 17, 2017
current version reviewed by deans and president's cabinet prior to approval by the provost
policy contacts:
associate provost for faculty, office of the provost
dean, school of arts & sciences
associate dean for academic affairs, jepson school of leadership studies
associate dean for academics, school of law
dean, robins school of business
associate dean for academic and student affairs, school of professional and continuing studies