index:
acd-7201.1…………definitions
acd-7201.2…………policy statement
acd-7201.3…………roles and responsibilities
acd-7201.4…………applicable legal and accreditation requirements
policy statement:
acd-7201.1 – definitions
instructor of record: an instructor of record is defined as someone actively engaged in designing and
delivering content for a credit-bearing course and assessing students for a grade. an instructor of record
may be a full- or part-time faculty member, or a staff member with faculty status. policy #: acd-7201 policy title: academic and professional preparation
requirements for faculty
effective: 06/01/2018 responsible office: office of the provost
date
approved:
05/23/2018
approval: evp & provost
replaces
policy dated:
05/17/2017 responsible
university official:
evp & provost