acd-7201 – academic and professional preparation requirements for faculty
university of richmond | 2
faculty: for purposes of this policy, faculty refers to anyone with a faculty appointment at the university
or serving as an instructor of record in a credit-bearing course. acd-7201.2 – policy statement
when determining appropriate qualifications for its faculty, the university will give primary
consideration to the highest earned degree in the discipline. the university also considers, where
appropriate, related work experience, professional licensure and certifications, peer-reviewed
publications, honors and awards, or other evidence of ability to contribute to effective teaching and
student learning outcomes.