when the highest earned degree is presented as the credential qualifying the faculty member to teach at
the university, that degree typically will be earned from a regionally accredited institution within the
united states. if the university employs a faculty member
whose highest earned degree is from a non-
regionally accredited institution within the united states or an institution outside the united states, the
university must show evidence that the faculty member has the appropriate academic preparation, and
such appointments must be approved by the provost. each instructor of record will be proficient in oral and written communication in the language in which
assigned courses will be taught.