undergraduate:
each instructor of record teaching a credit-bearing course leading to a baccalaureate degree must have
completed at least 18 graduate semester hours in the teaching discipline and hold at least a master's
degree, or hold a master's degree with a major in the teaching discipline. in exceptional cases, outstanding professional experience and demonstrated contributions to the teaching
discipline may be presented in lieu of formal academic preparation. such cases must be justified on an
individual basis and be accompanied by evidence of such preparation.