these appointments must be
approved by the provost
graduate:
each instructor of record teaching a credit-bearing course at the master's or specialist degree level must
hold the terminal degree, usually the earned doctorate, in the teaching discipline or a related discipline. in
some instances, the master's degree may be considered the terminal degree, such as the m.f.a.; in other
instances, a master's degree in the discipline coupled with a doctoral degree in a related discipline is
considered appropriate. the j.d.