is considered the terminal degree in the law school. it is the responsibility of the dean appointing full- and part-time faculty members to justify the master's
degree, or master's in the teaching discipline, coupled with a related doctorate, as the terminal degree for
faculty members teaching in those disciplines. these appointments must be approved by the provost.