in unusual cases, the university may appropriately include as graduate faculty those who have
demonstrated exceptional scholarly or creative activity, or professional experience, but who may not
possess the required academic credentials. when the institution presents evidence of competence or
academic credentials other than the terminal degree in the discipline for its graduate faculty, it must
justify the employment of such faculty. these appointments must be approved by the provost.