university of richmond | 1
university of richmond
policy manual
purpose:
this policy is designed to ensure that faculty at the university of richmond have the highest quality
preparation to accomplish the educational mission of the university and to ensure that the university of
richmond's academic and professional preparation requirements for full-time and part-time faculty conform
to the criteria established by the commission on colleges of the southern association of colleges and
schools. (sacscoc).
scope:
this policy applies to all faculty and staff who serve as instructors of record in any credit-bearing course
offered by the university of richmond.
index:
acd-7201.1…………definitions
acd-7201.2…………policy statement
acd-7201.3…………roles and responsibilities
acd-7201.4…………applicable legal and accreditation requirements
policy statement:
acd-7201.1 – definitions
instructor of record: an instructor of record is defined as someone actively engaged in designing and
delivering content for a credit-bearing course and assessing students for a grade. an instructor of record
may be a full- or part-time faculty member, or a staff member with faculty status.
policy #: acd-7201 policy title: academic and professional preparation
requirements for faculty
effective: 06/01/2018 responsible office: office of the provost
date
approved:
05/23/2018
approval: evp & provost
replaces
policy dated:
05/17/2017 responsible
university official:
evp & provost

acd-7201 – academic and professional preparation requirements for faculty
university of richmond | 2
faculty: for purposes of this policy, faculty refers to anyone with a faculty appointment at the university
or serving as an instructor of record in a credit-bearing course.
acd-7201.2 – policy statement
when determining appropriate qualifications for its faculty, the university will give primary
consideration to the highest earned degree in the discipline. the university also considers, where
appropriate, related work experience, professional licensure and certifications, peer-reviewed
publications, honors and awards, or other evidence of ability to contribute to effective teaching and
student learning outcomes.
when the highest earned degree is presented as the credential qualifying the faculty member to teach at
the university, that degree typically will be earned from a regionally accredited institution within the
united states. if the university employs a faculty member
whose highest earned degree is from a non-
regionally accredited institution within the united states or an institution outside the united states, the
university must show evidence that the faculty member has the appropriate academic preparation, and
such appointments must be approved by the provost.
each instructor of record will be proficient in oral and written communication in the language in which
assigned courses will be taught.
undergraduate:
each instructor of record teaching a credit-bearing course leading to a baccalaureate degree must have
completed at least 18 graduate semester hours in the teaching discipline and hold at least a master's
degree, or hold a master's degree with a major in the teaching discipline.
in exceptional cases, outstanding professional experience and demonstrated contributions to the teaching
discipline may be presented in lieu of formal academic preparation. such cases must be justified on an
individual basis and be accompanied by evidence of such preparation. these appointments must be
approved by the provost
graduate:
each instructor of record teaching a credit-bearing course at the master's or specialist degree level must
hold the terminal degree, usually the earned doctorate, in the teaching discipline or a related discipline. in
some instances, the master's degree may be considered the terminal degree, such as the m.f.a.; in other
instances, a master's degree in the discipline coupled with a doctoral degree in a related discipline is
considered appropriate. the j.d. is considered the terminal degree in the law school.
it is the responsibility of the dean appointing full- and part-time faculty members to justify the master's
degree, or master's in the teaching discipline, coupled with a related doctorate, as the terminal degree for
faculty members teaching in those disciplines. these appointments must be approved by the provost.
in unusual cases, the university may appropriately include as graduate faculty those who have
demonstrated exceptional scholarly or creative activity, or professional experience, but who may not
possess the required academic credentials. when the institution presents evidence of competence or
academic credentials other than the terminal degree in the discipline for its graduate faculty, it must
justify the employment of such faculty. these appointments must be approved by the provost.

acd-7201 – academic and professional preparation requirements for faculty
university of richmond | 3
acd-7201.3 – roles and responsibilities
school deans are responsible for approving the credentials of instructors of record in their school or
justifying an exception to the academic credentials requirement and seeking approval of the provost.
school deans are also responsible for verifying the authenticity of academic transcripts and other
supporting documentation (in electronic or paper form) once they are received.
it is the responsibility of the dean of each school to keep on file, for all instructors of record,
documentation of academic preparation, including official transcripts and a current c.v. if appropriate
for demonstrating competence, files must also include official documentation of professional or work
experience, technical and performance competency, records of publications, certifications and other
qualifications. when provost approval is required for appointment of an instructor of record, the justification
provided by the dean and record of approval from the provost must also be maintained in the files of the
school.
all instructors of record are required to ensure that their school dean receives copies of their academic
transcripts directly from institutions issuing credentials and has access to a current c.v. or resume.
faculty records
should be retained for ten years after resignation, separation or termination.
acd-7201.4 – applicable legal and accreditation requirements
sacscoc principles of accreditation 6.2.a (faculty qualifications)
related policies:
policy background:
policy initially reviewed by deans and approved by interim provost january 11, 2017
first revision reviewed by deans and approved by interim provost may 17, 2017
current version reviewed by deans and president's cabinet prior to approval by the provost
policy contacts:
associate provost for faculty, office of the provost
dean, school of arts & sciences
associate dean for academic affairs, jepson school of leadership studies
associate dean for academics, school of law
dean, robins school of business
associate dean for academic and student affairs, school of professional and continuing studies