university of richmond | 1
university of richmond
policy manual
purpose:
this policy is designed to ensure that faculty at the university of richmond have the highest quality
preparation to accomplish the educational mission of the university and to ensure that the university of
richmond's academic and professional preparation requirements for full-time and part-time faculty conform
to the criteria established by the commission on colleges of the southern association of colleges and
schools