. an instructor of record
may be a full- or part-time faculty member, or a staff member with faculty status.
policy #: acd-7201 policy title: academic and professional preparation
requirements for faculty
effective: 06/01/2018 responsible office: office of the provost
date
approved:
05/23/2018
approval: evp & provost
replaces
policy dated:
05/17/2017 responsible
university official:
evp & provost

acd-7201 – academic and professional preparation requirements for faculty
university of richmond | 2
faculty: for purposes of this policy, faculty refers to anyone with a faculty appointment at the university
or serving as an instructor of record in a credit-bearing course.
acd-7201.2 – policy statement
when determining appropriate qualifications for its faculty, the university will give primary
consideration to the highest earned degree in the discipline