. these appointments must be approved by the provost.

acd-7201 – academic and professional preparation requirements for faculty
university of richmond | 3
acd-7201.3 – roles and responsibilities
school deans are responsible for approving the credentials of instructors of record in their school or
justifying an exception to the academic credentials requirement and seeking approval of the provost.
school deans are also responsible for verifying the authenticity of academic transcripts and other
supporting documentation (in electronic or paper form) once they are received.
it is the responsibility of the dean of each school to keep on file, for all instructors of record,
documentation of academic preparation, including official transcripts and a current c.v. if appropriate
for demonstrating competence, files must also include official documentation of professional or work
experience, technical and performance competency, records of publications, certifications and other
qualifications